/* .container {
  text-align: center;
  margin-top: 50px;
  
}

label {
  margin-right: 10px;
  text-align: center;
}

input {
  padding: 5px;
  margin-right: 10px;
  size: 30px;
}

button {
  padding: 7px 15px;
  cursor: pointer;
  background-color: #26cdfc;
}

h2 {
  margin-top: 20px;
}

pre {
  background-color: #f7fcfe;
  padding: 10px;
  border-radius: 5px;
  overflow: auto;
  max-height: 300px;
} */
